[submodule "zebra"]
	path = zebra
	url = https://github.com/greg-nagy/zebra.git
[submodule "zaino"]
	path = zaino
	url = https://github.com/greg-nagy/zaino.git
[submodule "orchard"]
	path = orchard
	url = https://github.com/greg-nagy/orchard.git
[submodule "librustzcash"]
	path = librustzcash
	url = https://github.com/greg-nagy/librustzcash.git
[submodule "zcash-devtool"]
	path = zcash-devtool
	url = https://github.com/greg-nagy/zcash-devtool.git
